
.bz-area {
  display: none;
  color: #333;
  font-size: 20px;
  height: 70%;
}
.bz-area * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bz-area .bzicon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.6em;
}
.bz-area .bzicon-check {
  position: relative;
  transform: rotate(-45deg);
}
.bz-area .bzicon-check:before {
  position: absolute;
  left: 0.4em;
  top: 0.6em;
  content: '';
  width: 0.1em;
  height: 0.6em;
  box-shadow: inset 0 0 0 1em;
  transform: translate(-50%, -50%);
}
.bz-area .bzicon-check:after {
  position: absolute;
  top: 0.9em;
  left: 0.9em;
  content: '';
  width: 1em;
  height: 0.1em;
  box-shadow: inset 0 0 0 1em;
  transform: translate(-50%, -50%);
}
.bz-area ul {
  list-style: none;
}
.bz-area a {
  text-decoration: none;
  color: #333;
}
.bz-area--mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
} 
.bz-area__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: #fff;
  height: 70%;
}
.bz-area__hd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.bz-area__tips {
  position: relative;
  height: 2.25em;
  line-height: 2.25em;
  border-bottom: 0.05em solid #E5E5E5;
  box-sizing: border-box;
}
.bz-area__tips h4 {
  position: relative;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 0.75em;
  color: #000;
}

.bz-area--close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABaElEQVRYR8WWzU0DMRBGXyqgE240QQu0ECSQQMAh/IgDSIBAggZSBT1wpSE0kge8lteesddkL1Eie97z5+zYK3b8rHbMJxb4BL6Am8FSd8ABcCicWGANvAOPwNUgiQfgEjgGPlIB+X4CvA6SUPgp8KYLzP0HRkhk4bkEVGxJiVl4SWCp7SjCawK9ElW4RaBVwgS3CsQSt4C8x6XHDPcIxBLSI6RX5B4X3CtQk3DDWwRkjnQygcVJNMFbBVKJvSA16XDWVt5zGmoSwmqC9yQgc8+Ap7DS38PFunId15qAwjeh0D1wDjz/h4DCY2DuN5OLN4ESqEnCI2ABWMZMkrEKeAp7xk6uZHN75ioYipjn1BIwF8rYm+aWBOR2LKdf0+tlTWJOQBqMrKAHrqEUk8gJKLy5u3m2IxUYAS8mEQtch9vOkitPw9DtkM+X9DD6BrYt/dzUc/8GXQBHwH7vaejk5ofX+sAikFKRH72KaCGEmif9AAAAAElFTkSuQmCC) no-repeat;
  background-position: center;
  background-size: 36%;
}
.bz-area__nav {
  position: relative;
  height: 2em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bz-area__nav span {
  font-size: 0.65em;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bz-area__nav__item {
  position: relative;
  margin-left: 0.5em;
  padding: 0 0.1em;
  float: left;
  max-width: 25%;
  height: 1.9em;
  line-height: 1.9em;
}
.bz-area__nav.nav-level-4 .bz-area__nav__item {
  max-width: 22%;
}

.bz-area__nav__item.active {
  color: rgb(250, 121, 30);
}
.bz-area__nav__item.active:after {
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 0.1em;
  content: '';
  z-index: 2;
  background: rgb(250, 121, 30);
}
.bz-area__nav:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.05em;
  border-bottom: 0.05em solid #E5E5E5;
  color: #E5E5E5;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.bz-area__bd {
  padding-top: 4.25em;
  height: 100%;
}
.bz-area__list {
  display: none;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bz-area__list span {
  font-size: 0.65em;
}
.bz-area__list__item {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 1em;
  line-height: 2em;
}
.bz-area__list__item.active {
  color: rgb(250, 121, 30);
}
.bz-area__list__item.active i {
  margin-left: 0.4em;
}